<a id="feature_engineering_title"></a>
# <p style="background-color: blue; font-family:calibri; color:white; font-size:140%; font-family:Verdana; text-align:center; border-radius:15px 50px;">Pre-processing</p>

<a id="libraries"></a>
# <b><span style='color:lightblue'> Importing Necessary Libraries</span></b>

In [1]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath('../src'))

import seaborn as sns
import matplotlib.pyplot as plt

import data_cleaning
import feature_engineering

<a id="load_dataset"></a>
# <b><span style='color:lightblue'> Load Dataset</span></b>

In [3]:
# Calling get_dataframe function from load_data.py

train_df = pd.read_csv('../data/train.csv')

cleaned_df = data_cleaning.data_cleaning_pipeline(train_df)

df = feature_engineering.feature_engineering_pipeline(cleaned_df)

df.head()

Bin counts for TotalCharges:
TotalCharges_Bin
(18.799, 275.12]      1125
(275.12, 949.92]      1125
(949.92, 2087.03]     1124
(2087.03, 4478.99]    1125
(4478.99, 8684.8]     1125
Name: count, dtype: int64

Bin counts for tenure:
tenure_Bin
(0.999, 6.0]    1150
(6.0, 20.0]     1132
(20.0, 40.0]    1136
(40.0, 60.0]    1096
(60.0, 72.0]    1110
Name: count, dtype: int64

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,TotalCharges_Bin,tenure_Bin,Contract_Two year_X_PaymentMethod_Electronic check,OnlineSecurity_No_X_TechSupport_No
0,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,Yes,...,One year,No,Mailed check,64.85,1336.80,No,"(949.92, 2087.03]","(20.0, 40.0]",0,0
1,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,No,...,Two year,Yes,Bank transfer (automatic),97.20,5129.45,No,"(4478.99, 8684.8]","(40.0, 60.0]",0,1
2,3797-VTIDR,Male,0,Yes,No,1,No,No,DSL,No,...,Month-to-month,Yes,Electronic check,23.45,23.45,Yes,"(18.799, 275.12]","(0.999, 6.0]",0,1
3,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.20,237.95,Yes,"(18.799, 275.12]","(0.999, 6.0]",0,1
5,4291-SHSBH,Male,0,No,No,7,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,69.55,521.35,No,"(275.12, 949.92]","(6.0, 20.0]",0,1

<a id="one_hot_encoding"></a>
# <p style="background-color: #4893D7; font-family:calibri; color:white; font-size:140%; font-family:Verdana; text-align:center; border-radius:15px 50px;">Step 9 | One-Hot Encoding</p>
<a id="libraries"></a>

In [ ]:
import pandas as pd

def one_hot_encode(df, exclude_columns=None, drop_first=True):
    if exclude_columns is None:
        exclude_columns = []

    # Identify categorical columns to encode
    cat_cols = df.select_dtypes(include=['object', 'category']).columns
    cat_cols = [col for col in cat_cols if col not in exclude_columns]

    # Apply one-hot encoding
    df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=drop_first)

    return df_encoded