<a id="feature_engineering_title"></a>
# <p style="background-color: blue; font-family:calibri; color:white; font-size:140%; font-family:Verdana; text-align:center; border-radius:15px 50px;">Pre-processing</p>

<a id="libraries"></a>
# <b><span style='color:lightblue'> Importing Necessary Libraries</span></b>

In [1]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath('../src'))

import seaborn as sns
import matplotlib.pyplot as plt

import data_cleaning
import feature_engineering

<a id="load_dataset"></a>
# <b><span style='color:lightblue'> Load Dataset</span></b>

In [17]:
# Calling get_dataframe function from load_data.py

train_df = pd.read_csv('../data/train.csv')

df = data_cleaning.data_cleaning_pipeline(train_df)

df = feature_engineering.feature_engineering_pipeline(df)

df.head()

Bin counts for TotalCharges:
TotalCharges_Bin
(18.799, 275.12]      1125
(275.12, 949.92]      1125
(949.92, 2087.03]     1124
(2087.03, 4478.99]    1125
(4478.99, 8684.8]     1125
Name: count, dtype: int64

Bin counts for tenure:
tenure_Bin
(0.999, 6.0]    1150
(6.0, 20.0]     1132
(20.0, 40.0]    1136
(40.0, 60.0]    1096
(60.0, 72.0]    1110
Name: count, dtype: int64

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,TotalCharges_Bin,tenure_Bin,Contract_Two year_X_PaymentMethod_Electronic check,OnlineSecurity_No_X_TechSupport_No
0,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,Yes,...,One year,No,Mailed check,64.85,1336.80,No,"(949.92, 2087.03]","(20.0, 40.0]",0,0
1,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,No,...,Two year,Yes,Bank transfer (automatic),97.20,5129.45,No,"(4478.99, 8684.8]","(40.0, 60.0]",0,1
2,3797-VTIDR,Male,0,Yes,No,1,No,No,DSL,No,...,Month-to-month,Yes,Electronic check,23.45,23.45,Yes,"(18.799, 275.12]","(0.999, 6.0]",0,1
3,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.20,237.95,Yes,"(18.799, 275.12]","(0.999, 6.0]",0,1
5,4291-SHSBH,Male,0,No,No,7,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,69.55,521.35,No,"(275.12, 949.92]","(6.0, 20.0]",0,1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5624 entries, 0 to 5633
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   customerID                                          5624 non-null   object
 1   gender                                              5624 non-null   object
 2   SeniorCitizen                                       5624 non-null   int64
 3   Partner                                             5624 non-null   object
 4   Dependents                                          5624 non-null   object
 5   tenure                                              5624 non-null   int64
 6   PhoneService                                        5624 non-null   object
 7   MultipleLines                                       5624 non-null   object
 8   InternetService                                     5624 non-null   object
 9   OnlineSecurity                                      5624 non-null   object
 10  OnlineBackup                                        5624 non-null   object
 11  DeviceProtection                                    5624 non-null   object
 12  TechSupport                                         5624 non-null   object
 13  StreamingTV                                         5624 non-null   object
 14  StreamingMovies                                     5624 non-null   object
 15  Contract                                            5624 non-null   object
 16  PaperlessBilling                                    5624 non-null   object
 17  PaymentMethod                                       5624 non-null   object
 18  MonthlyCharges                                      5624 non-null   float64
 19  TotalCharges                                        5624 non-null   float64
 20  Churn                                               5624 non-null   object
 21  TotalCharges_Bin                                    5624 non-null   category
 22  tenure_Bin                                          5624 non-null   category
 23  Contract_Two year_X_PaymentMethod_Electronic check  5624 non-null   int64
 24  OnlineSecurity_No_X_TechSupport_No                  5624 non-null   int64
dtypes: category(2), float64(2), int64(4), object(17)
memory usage: 1.0+ MB

In [19]:
df['TotalCharges_Bin'].value_counts()

TotalCharges_Bin
(18.799, 275.12]      1125
(275.12, 949.92]      1125
(2087.03, 4478.99]    1125
(4478.99, 8684.8]     1125
(949.92, 2087.03]     1124
Name: count, dtype: int64

<a id="one_hot_encoding"></a>
# <p style="background-color: #4893D7; font-family:calibri; color:white; font-size:140%; font-family:Verdana; text-align:center; border-radius:15px 50px;">Step 9 | One-Hot Encoding</p>
<a id="libraries"></a>

In [10]:
def one_hot_encode(df, exclude_columns=None, drop_first=True):
    if exclude_columns is None:
        exclude_columns = []

    # Identify categorical columns to encode
    cat_cols = df.select_dtypes(include=['object', 'category']).columns
    cat_cols = [col for col in cat_cols if col not in exclude_columns]

    # Apply one-hot encoding
    df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=drop_first)

    return df_encoded

In [20]:
# Apply one-hot encoding (excluding 'customerID' and 'Churn')
df = one_hot_encode(df, exclude_columns=['customerID', 'Churn'])

# Check result
df.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,Contract_Two year_X_PaymentMethod_Electronic check,OnlineSecurity_No_X_TechSupport_No,gender_Male,Partner_Yes,...,PaymentMethod_Electronic check,PaymentMethod_Mailed check,"TotalCharges_Bin_(275.12, 949.92]","TotalCharges_Bin_(949.92, 2087.03]","TotalCharges_Bin_(2087.03, 4478.99]","TotalCharges_Bin_(4478.99, 8684.8]","tenure_Bin_(6.0, 20.0]","tenure_Bin_(20.0, 40.0]","tenure_Bin_(40.0, 60.0]","tenure_Bin_(60.0, 72.0]"
0,4223-BKEOR,0,21,64.85,1336.80,No,0,0,False,False,...,False,True,False,True,False,False,False,True,False,False
1,6035-RIIOM,0,54,97.20,5129.45,No,0,1,False,False,...,False,False,False,False,False,True,False,False,True,False
2,3797-VTIDR,0,1,23.45,23.45,Yes,0,1,True,True,...,True,False,False,False,False,False,False,False,False,False
3,2568-BRGYX,0,4,70.20,237.95,Yes,0,1,True,False,...,True,False,False,False,False,False,False,False,False,False
5,4291-SHSBH,0,7,69.55,521.35,No,0,1,True,False,...,True,False,True,False,False,False,True,False,False,False

In [21]:
# COnverting to binary values

def convert_boolean_like_columns(df):
    df = df.copy()

    for col in df.columns:
        unique_vals = df[col].dropna().unique()

        # Handle 'Yes' / 'No'
        if set(unique_vals).issubset({'Yes', 'No'}):
            df[col] = df[col].map({'Yes': 1, 'No': 0})
        
        # Handle True / False (bool)
        elif df[col].dtype == bool:
            df[col] = df[col].astype(int)

        # Also handle object columns that contain actual bools
        elif set(unique_vals).issubset({True, False}):
            df[col] = df[col].astype(int)

    return df

In [22]:
df = convert_boolean_like_columns(df)

In [23]:
df.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,Contract_Two year_X_PaymentMethod_Electronic check,OnlineSecurity_No_X_TechSupport_No,gender_Male,Partner_Yes,...,PaymentMethod_Electronic check,PaymentMethod_Mailed check,"TotalCharges_Bin_(275.12, 949.92]","TotalCharges_Bin_(949.92, 2087.03]","TotalCharges_Bin_(2087.03, 4478.99]","TotalCharges_Bin_(4478.99, 8684.8]","tenure_Bin_(6.0, 20.0]","tenure_Bin_(20.0, 40.0]","tenure_Bin_(40.0, 60.0]","tenure_Bin_(60.0, 72.0]"
0,4223-BKEOR,0,21,64.85,1336.80,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,6035-RIIOM,0,54,97.20,5129.45,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
2,3797-VTIDR,0,1,23.45,23.45,1,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,2568-BRGYX,0,4,70.20,237.95,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
5,4291-SHSBH,0,7,69.55,521.35,0,0,1,1,0,...,1,0,1,0,0,0,1,0,0,0